name: Deployment pipeline

on:
  push:
    branches:
      - main

env:
  DB_NAME_PRODUCTION: ${{ secrets.DB_NAME_PRODUCTION }}
  DB_USER_PRODUCTION: ${{ secrets.DB_USER_PRODUCTION }}
  DB_PASSWORD_PRODUCTION: ${{ secrets.DB_PASSWORD_PRODUCTION }}
  DB_HOST_PRODUCTION: ${{ secrets.DB_HOST_PRODUCTION }}
  DB_NAME_TEST: ${{ secrets.DB_NAME_TEST }}
  DB_USER_TEST: ${{ secrets.DB_USER_TEST }}
  DB_PASSWORD_TEST: ${{ secrets.DB_PASSWORD_TEST }}
  DB_HOST_TEST: ${{ secrets.DB_HOST_TEST }}

jobs:
  simple_deployment_pipeline:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - name: create env file
        # run: |
        #   touch .env
        #   echo DB_NAME_PRODUCTION=${{ secrets.DB_NAME_PRODUCTION }} >> .env
        #   echo DB_USER_PRODUCTION=${{ secrets.DB_USER_PRODUCTION }} >> .env
        #   echo DB_PASSWORD_PRODUCTION=${{ secrets.DB_PASSWORD_PRODUCTION }} >> .env
        #   echo DB_HOST_PRODUCTION=${{ secrets.DB_HOST_PRODUCTION }} >> .env
        #   echo SECRET_KEY=${{ secrets.SECRET_KEY }} >> .env
      - uses: actions/setup-node@v2
        with:
          node-version: '16'
      - name: list all env variables
        run: env
      - name: npm install
        run: npm install
      - name: lint
        run: npm run eslint
      # - name: build
      #   run: npm run build
      - name: npm run test
        run: npm run test
        # env:
        #   DB_NAME_PRODUCTION: d95n2p8leg6gqe
        #   DB_USER_PRODUCTION: iwthiamaxyxkpt
        #   DB_PASSWORD_PRODUCTION: ${{ secrets.DB_PASSWORD_PRODUCTION }}
        #   DB_HOST_PRODUCTION: ec2-63-32-248-14.eu-west-1.compute.amazonaws.com
      - name: e2e tests
        uses: cypress-io/github-action@v2
        with:
          command: npm run test:e2e
          start: npm run start:test
          wait-on: http://localhost:5000
